<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="/static/css/style.css">

</head>


<body onload="startGame()">
    <div
  class="bg-image"
  style="
    background-image: url('https://img.freepik.com/vector-gratis/composicion-paisaje-dibujos-animados-selva-tropical-lianas-trepadoras-follaje-suculento-fondo-palmeras-que-desvanecen_1284-58612.jpg?w=2000');
    height: 630px;
  "
>
<h1 style="text-align: center;">Juego de saltar</h1>
<br>

<img src="https://i.pinimg.com/originals/97/7e/4d/977e4daa3554253a5270cdc6be56dc5b.jpg" id="lamp" width="45" height="55">
</div>
</body>

<script src="/static/js/script.js"></script>
</html>